* {
  box-sizing: border-box;
  font-family: 'Anton', sans-serif;
}
body {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.72) 0%, rgba(255, 255, 255, 0.72) 100%),url(../images/background.png);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 5rem;
  text-align: center;
  height: 100vh;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.icon {
  width: 20%;
}
h1 {
  font-size: 6.25em;
  font-weight: bolder;
}
h2 {
  font-size: 3.125em;
}
.buttons {
  display: flex;
  justify-content: center;
}
.buttons a {
  padding: 1rem 2rem;
  background-color: #7e9eff;
  color: black;
  font-size: 2em;
  margin: 2rem;
  border-radius: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.buttons a:hover {
  background-color: #95b0ff
}
.buttons a i {
  margin-left: 1rem;
}
@media (max-width: 1200px) {
  body {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  body {
    font-size: 11px;
  }
  .icon {
    width: 40%;
    margin-top: 16rem;
  }
  .buttons {
    flex-direction: column;
    font-size: 14px;
  }
  .buttons a:nth-child(2) {
    margin-top: 0;
  }
}